In [1]:
import googleapiclient.discovery
import pandas as pd
import psycopg2
import pymongo

In [80]:
# view all rows and columns in pandas dataframe (without hiding on center rows)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Data Extract from YouTube

In [ ]:
# Reference video:
# how to extarct YouTube channel data by using API - "https://www.youtube.com/watch?v=SwSbnmqk3zY&t=207s&pp=ygUPYXBpIGtleSB0ZWNodGZx"
# You have get an idea about api_key and data extract from youtube.

In [ ]:
# YouTube Documentation - "https://developers.google.com/youtube/v3/docs"
# Json formatter - "https://jsonformatter.curiousconcept.com/"

In [3]:
# replace with your youtube api key
api_key = input("Enter API Key: ")

In [5]:
# First we need to create youtube service

api_service_name = "youtube"
api_version = "v3"

youtube = googleapiclient.discovery.build(api_service_name,
                                          api_version,
                                          developerKey=api_key)

In [4]:
# get a channel id from user --------> Example: techTFQ = "UCnz-ZXXER4jOvuED5trXfEA"
# Note: We get only one channel id at a time to process data extraction from youtube. Don't pass to more than 1 channel_id at a time.

channel_id = input('Enter Channel ID: ')
print(channel_id)

UCnz-ZXXER4jOvuED5trXfEA

Extract Channel Data from YouTube using API

In [6]:
def channel(youtube, channel_id):

    request = youtube.channels().list(
        part='contentDetails, snippet, statistics, status',
        id=channel_id)
    response = request.execute()

    data = {'channel_name': response['items'][0]['snippet']['title'],
            'channel_id': response['items'][0]['id'],
            'subscription_count': response['items'][0]['statistics']['subscriberCount'],
            'channel_views': response['items'][0]['statistics']['viewCount'],
            'channel_description': response['items'][0]['snippet']['description'],
            'upload_id': response['items'][0]['contentDetails']['relatedPlaylists']['uploads'],
            'country': response['items'][0]['snippet'].get('country', 'Not Available')}

    return data

In [ ]:
# .get function help us to return the 'country' only if available, else it return 'Not Available' as mentioned - avoid data missing error.
# should refer the reference video

In [8]:
y1 = channel(youtube, channel_id)
y1

{'channel_name': 'techTFQ',
 'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
 'subscription_count': '243000',
 'channel_views': '12543236',
 'channel_description': 'Hi, I am Thoufiq! On this channel, I teach SQL, Python and Database concepts in the field of Data Analytics and Data Science in the most simplest manner possible. If this excites you then do consider subscribing.\n\nYou will also find videos covering interview questions and also videos where I provide career guidance in the field of Data Analytics and Data Science which should help you find your dream job.\n\nI aim to make techTFQ a go to YouTube channel for anyone learning SQL, Python and Databases in the field of Data Analytics and Data Science.\n\nThank you for begin here :)\n',
 'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
 'country': 'MY'}

Extract Playlist Data from YouTube using API

In [9]:
# upload id - is common for both channel and playlist and it help us to SQL part. so i add upload_id to the playlist data.

upload_id = y1['upload_id']
upload_id

'UUnz-ZXXER4jOvuED5trXfEA'

In [10]:
def playlist(youtube, channel_id, upload_id):

    request = youtube.playlists().list(
        part="snippet,contentDetails,status",
        channelId=channel_id,
        maxResults=50)
    response = request.execute()

    playlist = []

    for i in range(0, len(response['items'])):
        data = {'playlist_id': response['items'][i]['id'],
                'playlist_name': response['items'][i]['snippet']['title'],
                'channel_id': channel_id,
                'upload_id': upload_id}

        playlist.append(data)

    next_page_token = response.get('nextPageToken')

    # manually set "umbrella = True" for breaking while condition. Variable name is your choice.
    # at last page the next_page_token is always None , so we need to break the loop using False condition.

    umbrella = True

    while umbrella:
        if next_page_token is None:
            umbrella = False

        else:
            request = youtube.playlists().list(
                part="snippet,contentDetails,status",
                channelId=channel_id,
                maxResults=50,
                pageToken=next_page_token)
            response = request.execute()

            for i in range(0, len(response['items'])):
                data = {'playlist_id': response['items'][i]['id'],
                        'playlist_name': response['items'][i]['snippet']['title'],
                        'channel_id': channel_id,
                        'upload_id': upload_id}

                playlist.append(data)

            next_page_token = response.get('nextPageToken')

    return playlist

In [11]:
y2 = playlist(youtube, channel_id, upload_id)
y2

[{'playlist_id': 'PLavw5C92dz9EEEtjLD7F9B7x7Jf5_KPTh',
  'playlist_name': 'Podcast',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9EVsh5lAUfJRMRYMHXQyfmL',
  'playlist_name': 'SQL Data Analytics Project (Otodom)',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9Ef4E-1Zi9KfCTXS_IN8gXZ',
  'playlist_name': 'Learn Complete SQL (Beginner to Advance)',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9Hj9bKG_MrfXepUAkVmb_Ln',
  'playlist_name': 'Shorts',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9GqF1Q_zn8KnYvFgtEOh-2n',
  'playlist_name': 'SQL Course / Training',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9GbmgiW4TWVnxhjMFOIf0Q7',
  'playlist_name': 'SQL Tutorial - Advance concepts',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9FD9XspliRM_HZM_jK7tkii',
  'playlist_name': 'SQL Tutorial - Intermediate concepts',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9HQQ_COgGb7kf_1H8UWUBxO',
  'playlist_name': 'SQL Tutorial - Basic concepts',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9F66P3GFo5O6nJ4DfZNhVsp',
  'playlist_name': 'Practice Solving BASIC SQL Queries',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9Fahr7taauUx5RnTfuGyL--',
  'playlist_name': 'Practice Solving COMPLEX SQL Queries',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9EIYmNXJ8ZtQ1bmLIpt0SpV',
  'playlist_name': 'Practice Solving INTERMEDIATE SQL Queries',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9FDsr995DjwCy9XNaIukb8P',
  'playlist_name': 'Data Analytics career and more',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9HF-KZ8156zfk7lwDY9RUvJ',
  'playlist_name': 'Gadget Reviews',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9FePZXIo4jpsupqp3X0w2SW',
  'playlist_name': 'Python Tutorial',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9HwT_uStsDdJbuBOt_XD0ch',
  'playlist_name': 'Data Analytics Projects',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9FdpsL6WWZ9Z5lT0fODYC28',
  'playlist_name': 'Mix',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
 {'playlist_id': 'PLavw5C92dz9EI1MPlqqDpe3bgr8RJZE0b',
  'playlist_name': 'Git and GitHub',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'}]

Extract all video ids from YouTube using API

In [12]:
# upload_id help to get all video ids in the channel ---> Example: it return total 98 videos
# don't use playlist_id. ---> Example: they add only 5 videos in 'python' playlist means it return only 5 videos

In [13]:
def video_ids(youtube, upload_id):

    request = youtube.playlistItems().list(
        part='contentDetails',
        playlistId=upload_id,
        maxResults=50)
    response = request.execute()

    video_ids = []

    for i in range(0, len(response['items'])):
        data = response['items'][i]['contentDetails']['videoId']
        video_ids.append(data)

    next_page_token = response.get('nextPageToken')

    umbrella = True

    while umbrella:
        if next_page_token is None:
            umbrella = False

        else:
            request = youtube.playlistItems().list(
                part='contentDetails',
                playlistId=upload_id,
                maxResults=50,
                pageToken=next_page_token)
            response = request.execute()

            for i in range(0, len(response['items'])):
                data = response['items'][i]['contentDetails']['videoId']
                video_ids.append(data)

            next_page_token = response.get('nextPageToken')

    return video_ids

In [14]:
y3 = video_ids(youtube, upload_id)
print(y3)

['nzJJP-uDIZc', 'BNmoCYk58mU', 'W5Wvyc9Pass', 'oedv5lR3w_g', 'HiscSRv7zWk', 'PLN28d0PoFU', 'GxmrInUIMAE', 'D0-Qy7yk5TQ', 'GHtX0QXfi6g', '0QcEqFrhb_Y', 'smztq8sRAhk', '7skZzocEU6c', 'LZGaRcDxj8I', 'rBPQ5fg_kiY', 'hvwltYazuQo', 'a-hFbr-4VQQ', 'pMNcPLc9Z7c', 'zZKb8FQRShs', 'jS5_hjFgfzA', '6UAU79FNBjQ', 'ZwFfiadQB3k', 'Det4ZjBSe3M', 'xUsY2jWQa1w', 'ueOUSjdAZY8', '90iK6gGvG_g', 'hsaPfEvForM', 'jb8XlF2dkoY', 'WhkNQ3g0U64', '_suB8xV9aPc', 'dWHSt0BVlv0', 'xJVWL7eMir0', 'h48xzQR3wNQ', 'S5gX-LLAZIM', 'LNlzx-YX8rI', 'WzkBZ0byoYE', 'weCZ1WynbMI', '3dOxGYkpVbE', '9dLXZrw6nac', 'i3xK7Nc414Q', 'H7YMumanHBA', '4p-G7fGhqRk', 'yLR1w4tZ36I', '-DiOp9vAEuM', 'O1o9m9T1c3k', '7hZYh9qXxe4', 'aE623ff7zkM', 'eXJGjbDo5KY', 'O52sweYbCyI', 'cLSxasHg9WY', 'l6XhSFAyvO0', 'nJIEIzF7tDw', 'RehbnzKHS28', '0OQJDd3QqQM', 'V6KPbGLYL4A', 'OIqm909GYYo', 'xN2PRAd8IZQ', 'AK7_m-aThfw', 'CYszyA2Xzdg', 'wT9ICgxRPYY', 'XruOBp7yPXU', 'SwSbnmqk3zY', '8p_OzqIJ_p4', '0Hhqf8L-b_0', 'M2NzvnfS-hI', 'QNfnuK-1YYY', 'PuBadaR8qC4', 'FNYdBLwZ6cE', 'zAmJPdZu8Rg', 'HJAwAKwFX-A', 'kY5HtrkjSj0', 'LCVSmkyB4v8', '6x7vHXfRAP0', '-DrSbc8B0WI', 'gsa1oFn9n0M', 'Ww71knvhQ-s', 'Jsnw6HLASZA', 'V_BozMwoYe4', '0wjPsKDrYt8', '1-z9ptlBar4', '35dXEQJkFE8', 'jgNB4GN1UaQ', 'fhxByMe0mq8', '5bwpXLHzZRo', 'UzOnFDmoJ9w', 'HNChkuE6HyA', '2gFqUWO-AWM', 'NvdSKgQcyuc', 'BBb_duZIusU', 'PRGkYivK2xI', 'M323OL6K5vs', 'i7BjHjRafU8', 'r2asdRpr3uw', 'Hl4NZB1XR9c', '1aybOgni7lI', 'j09EQ-xlh88', '7nzTDrio7vY', 'J-uCLHTIWZ4', '_BMPh5M4BIY']

In [15]:
len(y3)

98

Extract video data from YouTube using API

In [16]:
# Duration ---> need convert PT15M33S to 00:15:33 format using 'pandas-Timedelta function' in video data

def time_duration(duration):
    a = pd.Timedelta(duration)
    b = str(a).split()[-1]
    return b

print(time_duration('PT15M33S'))

00:15:33

In [17]:
def video(youtube, video_id, upload_id):

    request = youtube.videos().list(
                                part='contentDetails, snippet, statistics',
                                id=video_id)
    response = request.execute()


    # captions only in boolian values (True/False) in response. so we convert to string (Available/Not Avaialble)
    caption = {'true': 'Available', 'false': 'Not Available'}

    data = {'video_id': response['items'][0]['id'],
            'video_name': response['items'][0]['snippet']['title'],
            'video_description': response['items'][0]['snippet']['description'],
            'upload_id': upload_id,
            'tags': response['items'][0]['snippet'].get('tags', 'Not Available'),
            'published_date': response['items'][0]['snippet']['publishedAt'][0:10],
            'published_time': response['items'][0]['snippet']['publishedAt'][11:19],
            'view_count': response['items'][0]['statistics']['viewCount'],
            'like_count': response['items'][0]['statistics'].get('likeCount', 0),
            'favourite_count': response['items'][0]['statistics']['favoriteCount'],
            'comment_count': response['items'][0]['statistics'].get('commentCount', 0),
            'duration': time_duration(response['items'][0]['contentDetails']['duration']),
            'thumbnail': response['items'][0]['snippet']['thumbnails']['default']['url'],
            'caption_status': caption[response['items'][0]['contentDetails']['caption']]}

    return data

In [18]:
# verify to manually pass one video_id from video_ids
video_id = 'nzJJP-uDIZc'
y4 = video(youtube, video_id, upload_id)
y4

{'video_id': 'nzJJP-uDIZc',
 'video_name': 'Solving an SQL Interview Problem | Find Child - Parent - Grandparent Hierarchy using SQL',
 'video_description': 'In this video, we will solve an SQL Interview problem where we need to find the child, parent, and grandparent hierarchy/relationship to arrive at the final result. The problem is very interesting and slightly confusing.\nThis is a good SQL problem to test out your SQL Query writing skills.\n\nThis video is sponsored by OdinSchool.\nOdinSchool Bootcamp link: https://hubs.la/Q024h4NC0\nSuccess stories page link: https://hubs.la/Q024h4Xz0\n\nDownload Dataset, SQL scripts for free from my blog below:\nhttps://techtfq.com/blog/solving-an-sql-interview-problem-find-child-parent-grandparent-hierarchy-using-sql\n\nTimelines:\n00:00 Intro\n00:20 Understanding the problem statement\n01:14 Analysing the given data\n04:36 OdinSchool Bootcamp promo\n06:20 Solution to the problem\n\nThanks for watching!\nThoufiq | techTFQ',
 'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
 'tags': ['sql',
  'sql query',
  'sql queries',
  'solving sql query',
  'sql interview questions and answers',
  'sql interview questions',
  'sql interview query',
  'sql problem',
  'practice sql queries',
  'practice sql query',
  'techtfq',
  'techtfq sql',
  'sql techtfq',
  'learn sql',
  'sql tutorial',
  'sql practice'],
 'published_date': '2023-10-04',
 'published_time': '13:30:12',
 'view_count': '17853',
 'like_count': '564',
 'favourite_count': '0',
 'comment_count': '46',
 'duration': '00:13:47',
 'thumbnail': 'https://i.ytimg.com/vi/nzJJP-uDIZc/default.jpg',
 'caption_status': 'Not Available'}

Extract comment data from YouTube using API

In [23]:
def comment(youtube, video_id):

    request = youtube.commentThreads().list(
                                    part='id, snippet',
                                    videoId=video_id,
                                    maxResults=100)
    response = request.execute()


    comment = []

    for i in range(0, len(response['items'])):
        data = {'comment_id': response['items'][i]['id'],
                'comment_text': response['items'][i]['snippet']['topLevelComment']['snippet']['textDisplay'],
                'comment_author': response['items'][i]['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                'comment_published_date': response['items'][i]['snippet']['topLevelComment']['snippet']['publishedAt'][0:10],
                'comment_published_time': response['items'][i]['snippet']['topLevelComment']['snippet']['publishedAt'][11:19],
                'video_id': video_id}
        comment.append(data)

    return comment

In [25]:
video_id = 'nzJJP-uDIZc'
y5 = comment(youtube, video_id)
y5

[{'comment_id': 'Ugz5Rd8nU9iTzeqsnbN4AaABAg',
  'comment_text': 'OdinSchool Bootcamp link: <a href="https://hubs.la/Q024h4NC0">https://hubs.la/Q024h4NC0</a><br>Success stories page link: <a href="https://hubs.la/Q024h4Xz0">https://hubs.la/Q024h4Xz0</a>',
  'comment_author': 'techTFQ',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '20:20:42',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugw2piZKnCOUXfsEvMR4AaABAg',
  'comment_text': 'May Allah always be by your side my brother. You are like one of his greatest blessings on 🌎❤ The way you have explained and brought the best solution out is commendable! Ankit Bansal makes things over complicated, neither do I enjoy his style of teaching. We are meant to learn from you!',
  'comment_author': 'Aviral Ojha',
  'comment_published_date': '2023-10-17',
  'comment_published_time': '15:33:11',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugym0-AIMz5vR6Ea0hF4AaABAg',
  'comment_text': 'Select count(1) from person a<br>Where status  =Alive<br>And exists<br>( select 1 from persons <br>Where a.parent = b. Person)',
  'comment_author': 'Soundars Swag',
  'comment_published_date': '2023-10-16',
  'comment_published_time': '05:34:18',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugy6h6qIMcJd4QFwBdp4AaABAg',
  'comment_text': 'Hi sir, I have purchased SQL Bootcamp in your TechTFQ website. There is a problem which i am facing while learning. The website is logging out automatically serveral times in the middle of the sessions. I had to login several times repeatedly. Could you please look into it. It will be helpful if you could resolve the issue quickly. Thanks in advance.',
  'comment_author': 'Thulasi 583',
  'comment_published_date': '2023-10-13',
  'comment_published_time': '07:25:45',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugyf-2KM7-NVIQ3-vSF4AaABAg',
  'comment_text': 'with recursive parents as (<br>select person,parent,CAST(NULL as varchar(10)) as son, 1 as level from people where person not in (select parent from people)<br>union all<br>select p2.person,p2.parent,p1.person,level+1 from parents as p1 inner join people as p2 on p1.parent=p2.person where p2.status=&#39;Alive&#39;)<br>select count(*) from parents where level&gt;=3;',
  'comment_author': 'Through My Glasses',
  'comment_published_date': '2023-10-13',
  'comment_published_time': '06:54:35',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugwd1MEoW0in79OatU54AaABAg',
  'comment_text': '################ My Solution using CTE ################<br><br>with A as (<br>select <br>  p1.person as person,<br>  p2.parent as grandparent <br>from <br>  persons p1<br>join<br>  persons p2<br>on <br>  p1.parent=p2.person)<br><br>select <br>count(A.person) as alive_count<br>from<br>A<br>join<br>persons p<br>on A.grandparent = p.person<br>where p.person_status=&#39;Alive&#39;',
  'comment_author': 'Koushik T',
  'comment_published_date': '2023-10-13',
  'comment_published_time': '04:45:17',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgzwktnX019eW0ot7Y94AaABAg',
  'comment_text': 'Pks explain snowflakes in sql',
  'comment_author': 'sss',
  'comment_published_date': '2023-10-13',
  'comment_published_time': '03:58:04',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgxbAegPRG687G-7p3R4AaABAg',
  'comment_text': 'Hello, Would you please solve quastion like this for python(panda)?',
  'comment_author': 'Parham Farjam',
  'comment_published_date': '2023-10-08',
  'comment_published_time': '20:30:25',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugz1QI6XUZnJlcoSc3N4AaABAg',
  'comment_text': 'Thank you sir, I developed my SQL with your videos only',
  'comment_author': 'Greatlearning S',
  'comment_published_date': '2023-10-08',
  'comment_published_time': '18:48:25',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgzoCoAzEF59CYrQcp54AaABAg',
  'comment_text': 'Self join',
  'comment_author': 'Rajendra kumar Ray',
  'comment_published_date': '2023-10-08',
  'comment_published_time': '04:12:54',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgwlGC96D4JyWJH4jlB4AaABAg',
  'comment_text': 'Great explanation of self join<br>Thankyou sir for this video!',
  'comment_author': 'Avi',
  'comment_published_date': '2023-10-07',
  'comment_published_time': '16:59:45',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugx9sv6KuQu4CjHQh0Z4AaABAg',
  'comment_text': 'Hello..\r<br>Thanks for always giving great lectures.\r<br>The solution you provided looked very concise and appealing.\r<br>However, I tried tackling it in a bit more complex manner.<br><br><br>WITH RECURSIVE r_query\r<br>AS (\r<br>\tSELECT person\r<br>\t     , parent\r<br>\t     , person_status\r<br>\t     , 1 clevel\r<br>\t     , concat(person, &#39;&#39;) cpath\r<br>\t  FROM ( SELECT psn_1.person\r<br>\t              , psn_1.parent\r<br>\t              , psn_1.person_status\r<br>\t\t\t\t  from persons psn_1 \r<br>\t\t\t\tUNION ALL  \r<br>\t\t\t\tSELECT person\r<br>\t\t\t\t     , parent\r<br>\t\t\t\t     , person_status\r<br>\t\t\t\t  FROM ( SELECT psn_1.parent person\r<br>\t\t\t\t              , NULL parent\r<br>\t\t\t\t              , NULL person_status\r<br>\t\t\t\t              , psn_2.person p_per\r<br>\t\t\t\t           from persons psn_1 LEFT OUTER JOIN persons psn_2\r<br>\t\t\t\t                              ON psn_2.person = psn_1.parent\r<br>\t\t\t\t         ) a\r<br>\t\t\t\t WHERE a.p_per IS NULL\r<br>\t\t\t\t) a\r<br>\t WHERE parent IS null \r<br>\tUNION all\r<br>\tSELECT a.person\r<br>\t     , a.parent\r<br>\t     , a.person_status\r<br>\t     , clevel + 1\r<br>\t     , concat(b.cpath, &#39;-&gt;&#39;, a.person) cpath\r<br>\t  FROM ( SELECT psn_1.person\r<br>\t              , psn_1.parent\r<br>\t              , psn_1.person_status\r<br>\t\t\t\t  from persons psn_1 \r<br>\t\t\t\tUNION ALL  \r<br>\t\t\t\tSELECT person\r<br>\t\t\t\t     , parent\r<br>\t\t\t\t     , person_status\r<br>\t\t\t\t  FROM ( SELECT psn_1.parent person\r<br>\t\t\t\t              , NULL parent\r<br>\t\t\t\t              , NULL person_status\r<br>\t\t\t\t              , psn_2.person p_per\r<br>\t\t\t\t           from persons psn_1 LEFT OUTER JOIN persons psn_2\r<br>\t\t\t\t                              ON psn_2.person = psn_1.parent\r<br>\t\t\t\t         ) a\r<br>\t\t\t\t WHERE a.p_per IS NULL\r<br>\t\t\t\t) a INNER JOIN r_query b\r<br>\t\t\t\t    ON b.person = a.parent\r<br> )\r<br> SELECT person\r<br>      , parent\r<br>      , person_status\r<br>   FROM r_query\r<br> WHERE person IN ( SELECT SPLIT_PART(cpath, &#39;-&gt;&#39;, -3)\r<br>                     FROM r_query\r<br>                   )\r<br>   AND person_status = &#39;Alive&#39;                   \r<br>;',
  'comment_author': '이병훈',
  'comment_published_date': '2023-10-07',
  'comment_published_time': '11:42:00',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgwRsNBxx_z_PLVyJod4AaABAg',
  'comment_text': 'Query solving with Odni school ad',
  'comment_author': 'KrishnaKumarKumar',
  'comment_published_date': '2023-10-07',
  'comment_published_time': '05:21:35',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgymgS30KxDT0YSEZvV4AaABAg',
  'comment_text': 'Thanks toufiq Bhai, for helping Data community and and sharing knowledge &amp; experience 😊, it helps a lot to understand self join',
  'comment_author': 'Sami-ulla Makaandar',
  'comment_published_date': '2023-10-07',
  'comment_published_time': '02:24:28',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugy2HDpH0IPt3CsYWA54AaABAg',
  'comment_text': 'You are the BEST!',
  'comment_author': 'Data AnalysT',
  'comment_published_date': '2023-10-06',
  'comment_published_time': '21:06:20',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugwvli4OOnbm78FV3L14AaABAg',
  'comment_text': 'great video as always, it was well explained.',
  'comment_author': 'Jordan Tambeck',
  'comment_published_date': '2023-10-06',
  'comment_published_time': '14:25:29',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgzvNFJmmB6Ga2Dr7ht4AaABAg',
  'comment_text': 'This correlated sub-query  will yield the result as required  --- <br>select c.person from persons c where exists ( <br>select null from persons p where c.parent = p.person  and exists ( <br>  select null from persons g where g.person= p.parent <br>and g.status = &#39;Alive&#39;))',
  'comment_author': 'kokku',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '22:54:23',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugycf_thPzbVcsfB4H94AaABAg',
  'comment_text': 'sir.....please post sql classes from scratch......you said will post 1st week of September but not posted......please sir post those classes.......',
  'comment_author': 'nivis world',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '19:44:50',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgySD172RolcuzLUZH14AaABAg',
  'comment_text': 'with table_A as <br>(<br>select t1.*,<br>t2.parent as grand_parents<br>from persons as t1<br>left join persons as t2<br>on t1.parent = t2.person<br>)<br><br>select count(*)<br>from table_A as t1<br>left join persons as t2<br>on t1.grand_parents = t2.person<br>where t2.person_status =&#39;Alive&#39;<br>;',
  'comment_author': 'Rishabh Gupta',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '10:29:02',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgxIiyPa3D55VSFIUz54AaABAg',
  'comment_text': 'Not be annoying but this is a dumb question. But I love your videos',
  'comment_author': 'Dean Marko',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '08:55:16',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgwCF71w_9LwupXipJV4AaABAg',
  'comment_text': 'Thank you for sharing, nice explanation. When will you start postgresql Boot camp',
  'comment_author': 'Krishna',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '08:26:10',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgyLMmWg978ZCeGhbfp4AaABAg',
  'comment_text': 'Very interesting problem! I like the way you dissect the problem into different parts, it makes easier to approach it! Thanks!👍👍',
  'comment_author': 'Zewdu Wereta',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '07:53:11',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgzUCH2UCsIgYZNsZQt4AaABAg',
  'comment_text': 'Self join is the best way to answer this question',
  'comment_author': 'kranti kumar',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '03:00:16',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgyyQjJMcQg044Zrp0d4AaABAg',
  'comment_text': 'Best tutor for SQL, easy to follow and very detailed explanation. Must follow and subscribe if you want to solve interesting SQL problems.',
  'comment_author': 'Attila Pekka Szabó',
  'comment_published_date': '2023-10-05',
  'comment_published_time': '00:23:19',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugx2qmzI9dp81DEz_Fx4AaABAg',
  'comment_text': 'Great video again 👍👍',
  'comment_author': 'Fathima Farahna',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '18:30:50',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgyRIoR6gyRxcjRdjrx4AaABAg',
  'comment_text': 'Please explain slow and clear <br>I didn&#39;t understand this vedio',
  'comment_author': 'Chandu Muddasani',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '18:20:47',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugxu-taJe1mVC7UJJSR4AaABAg',
  'comment_text': 'hope this solution is acceptable -- <br><br>select P1.person as self, P2.person as Parent, P3.Person as GP, P1.person_status as GP_Status\r<br>from Persons as P1\r<br>Right join Persons as P2 on P1.parent = P2.Person\r<br>right join Persons as P3 on P2.parent = P3.Person\r<br>\r<br>where  P1.person_status = &#39;Alive&#39;',
  'comment_author': 'Sachin Gunjal',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '18:10:46',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugx4ytc-QvBlOEMTQWN4AaABAg',
  'comment_text': 'I&#39;m facing a SQL interview question repeateadly. &quot;Why a stored preocedure is executing fine till yesterday and today it is taking long time to execute&quot; [indexes are not dropped/no changes to this query]. Can you please explain this question ?',
  'comment_author': 'Swetha Veluguri',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '18:10:23',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgzO8bE5mEdIe_gD6S14AaABAg',
  'comment_text': 'Solved the same kind of problem with scenario employee, manager, managers_ manager using self join',
  'comment_author': 'Santhosh Kumar',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '17:34:52',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugz8CY7CTayacM8-5-R4AaABAg',
  'comment_text': 'Self join',
  'comment_author': 'Sumathy G',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '17:21:07',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugyi-ZNPLyzBobBSjlZ4AaABAg',
  'comment_text': 'Tfq makes sql look so simple',
  'comment_author': 'Mary the Analyst',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '16:38:58',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgybnOoHWmzxd85BUWx4AaABAg',
  'comment_text': 'Hi I want to triggers in postgresql',
  'comment_author': 'Aravind T',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '16:32:10',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgzZoQyKOSy0XeMYNqx4AaABAg',
  'comment_text': 'Slefjoin a 1 with a2 on a1.person =a2.parent',
  'comment_author': 'viswas kumar surapaneni',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '16:14:22',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgwcdQFRIJPO68f5cap4AaABAg',
  'comment_text': 'Self join is a solution',
  'comment_author': 'Sreejesh j nair',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '16:05:22',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgwJvQdtxzr-mKuQuo54AaABAg',
  'comment_text': 'Another way of writing query for same problem<br><br>with recursive cte1 as <br>(<br>select *<br>from test<br>where par_name in (select p_name from test)<br>),<br>cte2 as <br>(<br>select *, 1 as level<br>from cte1<br>union<br>select c1.*, level + 1 as level<br>from cte1 c1<br>join cte2 c2<br>    on c2.par_name = c1.p_name<br>)<br>select count(1)<br>from (<br>select <br> cte2.p_name,<br> cte2.par_name,<br> t.status <br>from cte2<br>join test t <br>    on cte2.par_name = t.p_name<br>where level = 2<br>and t.status = &#39;Alive&#39;<br>) subquery',
  'comment_author': 'Swapnil Solanki',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '15:24:52',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgzAqeFv2aV0MR_9D8l4AaABAg',
  'comment_text': 'We can use self join',
  'comment_author': 'gontla kowshik',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '14:47:16',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgwEBn8yanU0dzGYZbl4AaABAg',
  'comment_text': 'Best explanation ever hard problems look like simple',
  'comment_author': 'श्री उत्तम महाराज सरकटे आळंदी',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '14:34:20',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgyJJAOSxG2ORPI7ozJ4AaABAg',
  'comment_text': 'Please share this session also',
  'comment_author': 'Ashish Tripathi',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '13:40:33',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'UgxQG0wXKOIha5DiCqJ4AaABAg',
  'comment_text': 'self join',
  'comment_author': 'shashi gowda R',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '13:38:14',
  'video_id': 'nzJJP-uDIZc'},
 {'comment_id': 'Ugyh2zASdXyTZ1X7T6h4AaABAg',
  'comment_text': 'Natural joins',
  'comment_author': 'Abhi Sai',
  'comment_published_date': '2023-10-04',
  'comment_published_time': '13:37:13',
  'video_id': 'nzJJP-uDIZc'}]

In [32]:
def youtube_main(channel_id):

    # call channel def function to store variable
    y1 = channel(youtube, channel_id)

    # access upload_id from channel fuction
    upload_id = y1['upload_id']

    # call playlist and video_ids def function to store variable
    y2 = playlist(youtube, channel_id, upload_id)
    y3 = video_ids(youtube, upload_id)


    # create empty list to store video and comment data for all video_ids
    y4 = []
    y5 = []

    # iterate all the video_ids in the loop to extract video and comment data
    for i in y3:
        v = video(youtube, i, upload_id)
        y4.append(v)

        # skip disabled comments error in looping function using exceptional handling
        try:
            c = comment(youtube, i)
            y5.append(c)
        except:
            pass
    

    # finally merge all 4 data into single dictionary (to push mongodb)
    final = {'channel': y1,
             'playlist': y2,
             'video': y4,
             'comment': y5}

    return final

In [33]:
# techTFQ = 'UCnz-ZXXER4jOvuED5trXfEA'

channel_id = 'UCnz-ZXXER4jOvuED5trXfEA'
final_data = youtube_main(channel_id)
final_data

{'channel': {'channel_name': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'subscription_count': '243000',
  'channel_views': '12543236',
  'channel_description': 'Hi, I am Thoufiq! On this channel, I teach SQL, Python and Database concepts in the field of Data Analytics and Data Science in the most simplest manner possible. If this excites you then do consider subscribing.\n\nYou will also find videos covering interview questions and also videos where I provide career guidance in the field of Data Analytics and Data Science which should help you find your dream job.\n\nI aim to make techTFQ a go to YouTube channel for anyone learning SQL, Python and Databases in the field of Data Analytics and Data Science.\n\nThank you for begin here :)\n',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
  'country': 'MY'},
 'playlist': [{'playlist_id': 'PLavw5C92dz9EEEtjLD7F9B7x7Jf5_KPTh',
   'playlist_name': 'Podcast',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9EVsh5lAUfJRMRYMHXQyfmL',
   'playlist_name': 'SQL Data Analytics Project (Otodom)',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9Ef4E-1Zi9KfCTXS_IN8gXZ',
   'playlist_name': 'Learn Complete SQL (Beginner to Advance)',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9Hj9bKG_MrfXepUAkVmb_Ln',
   'playlist_name': 'Shorts',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9GqF1Q_zn8KnYvFgtEOh-2n',
   'playlist_name': 'SQL Course / Training',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9GbmgiW4TWVnxhjMFOIf0Q7',
   'playlist_name': 'SQL Tutorial - Advance concepts',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9FD9XspliRM_HZM_jK7tkii',
   'playlist_name': 'SQL Tutorial - Intermediate concepts',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9HQQ_COgGb7kf_1H8UWUBxO',
   'playlist_name': 'SQL Tutorial - Basic concepts',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9F66P3GFo5O6nJ4DfZNhVsp',
   'playlist_name': 'Practice Solving BASIC SQL Queries',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9Fahr7taauUx5RnTfuGyL--',
   'playlist_name': 'Practice Solving COMPLEX SQL Queries',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9EIYmNXJ8ZtQ1bmLIpt0SpV',
   'playlist_name': 'Practice Solving INTERMEDIATE SQL Queries',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9FDsr995DjwCy9XNaIukb8P',
   'playlist_name': 'Data Analytics career and more',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9HF-KZ8156zfk7lwDY9RUvJ',
   'playlist_name': 'Gadget Reviews',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9FePZXIo4jpsupqp3X0w2SW',
   'playlist_name': 'Python Tutorial',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9HwT_uStsDdJbuBOt_XD0ch',
   'playlist_name': 'Data Analytics Projects',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9FdpsL6WWZ9Z5lT0fODYC28',
   'playlist_name': 'Mix',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'},
  {'playlist_id': 'PLavw5C92dz9EI1MPlqqDpe3bgr8RJZE0b',
   'playlist_name': 'Git and GitHub',
   'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA'}],
 'video': [{'video_id': 'nzJJP-uDIZc',
   'video_name': 'Solving an SQL Interview Problem | Find Child - Parent - Grandparent Hierarchy using SQL',
   'video_description': 'In this video, we will solve an SQL Interview problem where we need to find the child, parent, and grandparent hierarchy/relationship to arrive at the final result. The problem is very interesting and slightly confusing.\nThis is a good SQL problem to test out your SQL Query writing skills.\n\nThis video is sponsored by OdinSchool.\nOdinSchool Bootcamp link: https://hubs.la/Q024h4NC0\nSuccess stories page link: https://hubs.la/Q024h4Xz0\n\nDownload Dataset, SQL scripts for free from my blog below:\nhttps://techtfq.com/blog/solving-an-sql-interview-problem-find-child-parent-grandparent-hierarchy-using-sql\n\nTimelines:\n00:00 Intro\n00:20 Understanding the problem statement\n01:14 Analysing the given data\n04:36 OdinSchool Bootcamp promo\n06:20 Solution to the problem\n\nThanks for watching!\nThoufiq | techTFQ',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
   'tags': ['sql',
    'sql query',
    'sql queries',
    'solving sql query',
    'sql interview questions and answers',
    'sql interview questions',
    'sql interview query',
    'sql problem',
    'practice sql queries',
    'practice sql query',
    'techtfq',
    'techtfq sql',
    'sql techtfq',
    'learn sql',
    'sql tutorial',
    'sql practice'],
   'published_date': '2023-10-04',
   'published_time': '13:30:12',
   'view_count': '17911',
   'like_count': '565',
   'favourite_count': '0',
   'comment_count': '46',
   'duration': '00:13:47',
   'thumbnail': 'https://i.ytimg.com/vi/nzJJP-uDIZc/default.jpg',
   'caption_status': 'Not Available'},
  {'video_id': 'BNmoCYk58mU',
   'video_name': 'From 16 years of CAREER GAP To becoming a Software Engineer | How to get a JOB after a career gap',
   'video_description': "How do you get a JOB when having 16 years of CAREER GAP? \nThis is a Podcast video where I talk to Angelina Daisy, who got a job as a Software Engineer after 16 years of career gap.\n\nMany people struggle to get jobs due to career gaps and it's mainly due to a few reasons which we shall discuss during this podcast.\n\nLinkedIn of Angelina Daisy:\nhttps://www.linkedin.com/in/angelina-daisy-602416244/\n\nBootcamp which Angelina took to get the job:\nhttps://hubs.la/Q022Q7G20\n\nTimestamp:\n00:00 Intro\n00:49 Intro about Angelina \n01:59 When and What prompted Angelina to look for a job?\n03:00 What courses did Angelina take?\n04:39 Current job and responsibilities\n05:54 Why OdinSchool Bootcamp & Details\n08:55 The most important thing to get a job\n10:18 Unsuccessful Interviews\n11:55 Details about Successful Interview\n12:51 Question by a recruiter: Why do you have a career gap?\n15:00 Suggestion to get a job after a career gap\n17:13 What do you do in your current job?\n18:11 Is it scary to start a career after a long gap?\n19:24 Would you recommend OdinSchool Bootcamp?\n20:21 Summarizing the whole discussion\n22:55 Final thoughts from Angelina\n\nJOIN my Python Bootcamp:\nhttps://techtfq.graphy.com/courses/Python-Bootcamp-for-Beginners-64d0e0a2e4b067acf3a67a2b-64d0e0a2e4b067acf3a67a2b?buy=true\n\nJOIN my SQL Bootcamp:\nhttps://techtfq.graphy.com/courses/Recordings-from-SQL-Bootcamp-64f0e1cae4b014d5beccb78e\n\n\nTHANK YOU!",
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
   'tags': ['how to get job after career gap',
    'career gap software jobs',
    'career gap reason in interview',
    'career gap of 10 years',
    'career gap to software engineer',
    'podcast',
    'job podcast',
    'career podcast',
    'career gap podcast',
    'career gap interview',
    'career gap interview questions for freshers',
    'techtfq',
    'career advice',
    'job'],
   'published_date': '2023-09-21',
   'published_time': '13:00:15',
   'view_count': '12085',
   'like_count': '349',
   'favourite_count': '0',
   'comment_count': '75',
   'duration': '00:24:28',
   'thumbnail': 'https://i.ytimg.com/vi/BNmoCYk58mU/default.jpg',
   'caption_status': 'Not Available'},
  {'video_id': 'W5Wvyc9Pass',
   'video_name': '3 SQL Queries Asked in Interview for Business Analyst - Solved',
   'video_description': 'In this video, we shall solve 3 Intermediate level SQL Queries that were asked during an interview for the role of Business Analyst.\nWe shall first understand the problem statement and then solve it one by one.\n\nYou can download the dataset and SQL queries from my blog below:\nhttps://techtfq.com/blog/solving-sql-queries-from-business-analyst-interview\n\nTimestamp:\n00:00 Intro\n00:17 First SQL Query\n09:48 Second SQL Query\n23:33 Third SQL Query\n\nJoin my live Python Bootcamp:\nhttps://techtfq.graphy.com/courses/Python-Bootcamp-for-Beginners-64d0e0a2e4b067acf3a67a2b-64d0e0a2e4b067acf3a67a2b?buy=true\n\nJoin my SQL Bootcamp:\nhttps://techtfq.graphy.com/courses/Recordings-from-SQL-Bootcamp-64f0e1cae4b014d5beccb78e\n\nThanks for watching!\nThoufiq (techTFQ)',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
   'tags': ['sql',
    'sql query',
    'sql queries',
    'learn sql',
    'solving sql queries',
    'practice sql',
    'practice sql queries',
    'learn sql queries',
    'sql tutorial',
    'sql interview queries',
    'sql problem',
    'sql interview',
    'sql interview problem',
    'business analyst',
    'business analyst interview',
    'data analyst',
    'data analyst sql',
    'sql interview questions',
    'sql interview questions and answers',
    'interview questions sql',
    'techtfq sql',
    'sql interview question'],
   'published_date': '2023-09-13',
   'published_time': '13:00:23',
   'view_count': '25062',
   'like_count': '926',
   'favourite_count': '0',
   'comment_count': '67',
   'duration': '00:36:27',
   'thumbnail': 'https://i.ytimg.com/vi/W5Wvyc9Pass/default.jpg',
   'caption_status': 'Not Available'},
  {'video_id': 'oedv5lR3w_g',
   'video_name': 'Courses You Can Take To Get Into Data Analytics',
   'video_description': 'In this video, I share the courses I recommend for learning SQL, Python, Excel, Power BI, and a complete data analytics boot camp.\n\nCheckout my SQL & Python course here:\nhttps://techtfq.graphy.com/\n\nSQL (from techTFQ)\nhttps://techtfq.graphy.com/courses/Recordings-from-SQL-Bootcamp-64f0e1cae4b014d5beccb78e\n\nPython (from techTFQ)\nhttps://techtfq.graphy.com/courses/Python-Bootcamp-for-Beginners-64d0e0a2e4b067acf3a67a2b-64d0e0a2e4b067acf3a67a2b?buy=true\n\nExcel (from CodeBasics)\nhttps://codebasics.io/courses/excel-mother-of-business-intelligence?refId=ujxkeg5e-n948-4cpg-fx9g-q0fvzczdyp\n\nPower BI (from CodeBasics)\nhttps://codebasics.io/courses/power-bi-data-analysis-with-end-to-end-project?refId=4b1e1886-3252-4bf1-86f4-7d603dab692f\n\nData Analytics Bootcamp (from CodeBasics)\nhttps://codebasics.io/bootcamps/data-analytics-bootcamp-with-practical-job-assistance?refId=ujxkeg5e-n948-4cpg-fx9g-q0fvzczdyp\n\nTimestamp:\n00:00 Intro Skills you need to get into Data Analytics\n00:45 Python Course \n01:45 SQL Course\n04:32 Excel Course\n04:57 Power BI Course\n05:39 Data Analytics Bootcamp\n\n\nThank you for watching!',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
   'tags': ['data analytics course',
    'sql course',
    'sql',
    'python course',
    'python',
    'excel',
    'excel course',
    'power bi',
    'power bi course',
    'data analytics bootcamp',
    'best course to learn sql',
    'best course to learn python',
    'python for beginners',
    'sql bootcamp'],
   'published_date': '2023-09-02',
   'published_time': '13:00:12',
   'view_count': '19718',
   'like_count': '447',
   'favourite_count': '0',
   'comment_count': '72',
   'duration': '00:06:59',
   'thumbnail': 'https://i.ytimg.com/vi/oedv5lR3w_g/default.jpg',
   'caption_status': 'Not Available'},
  {'video_id': 'HiscSRv7zWk',
   'video_name': 'Solving a Real SQL Interview Problem | Job Vacancies SQL Query',
   'video_description': 'In this video, we are Solving a Real SQL Interview Problem about displaying Job Vacancies using an SQL Query.\n\nTreat this SQL problem as a challenge, watch the first 4 mins of the video to understand the problem statement and my approach to solving this problem. You can then pause the video and go to my blog (link below) to download the dataset and create them in your database and then try to solve the problem yourself.\n\nIf your solution is the same as mine, leave a comment below as “SOLVED! Same Solution”, if your solution is different from mine then leave a comment as “SOLVED! Different Solution” and then leave your solution in the comment. However, if you are unable to solve the problem then let me know in the comment what was the challenge you faced.\n\nDownload the dataset, scripts, and solution from my blog:\nhttps://techtfq.com/blog/solving-a-real-sql-interview-problem-job-vacancies-sql-query\n\nJOIN my Python Bootcamp:\nhttps://techtfq.graphy.com/courses/Python-Bootcamp-for-Beginners-64d0e0a2e4b067acf3a67a2b-64d0e0a2e4b067acf3a67a2b?buy=true\n\nThank you,\nThoufiq',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
   'tags': ['sql',
    'solving sql queries',
    'solving sql problem',
    'sql query',
    'sql queries',
    'sql interview',
    'sql interview query',
    'sql interview problem',
    'practice sql',
    'practice sql queries',
    'solve sql queries',
    'real sql interview',
    'real sql interview query',
    'learn sql',
    'learn sql query'],
   'published_date': '2023-08-25',
   'published_time': '13:00:09',
   'view_count': '39461',
   'like_count': '1427',
   'favourite_count': '0',
   'comment_count': '126',
   'duration': '00:16:57',
   'thumbnail': 'https://i.ytimg.com/vi/HiscSRv7zWk/default.jpg',
   'caption_status': 'Not Available'},
  {'video_id': 'PLN28d0PoFU',
   'video_name': 'Python Bootcamp for Beginners | Python Course | Live Training',
   'video_description': 'My next Python Bootcamp for beginners will start from 26th Aug 2023. The format of the BootCamp will be Live & Interactive Video training using the Zoom app.\n\n- 16 Live and Interactive sessions\n- Live video class using the Zoom app\n- Beginner to Intermediate level\n- Starts on 26th Aug\n- Lifetime access to class recordings\n- Bootcamp will be conducted on techtfq.graphy.com\n- 4 sessions per week (Saturday, Sunday, Wednesday, Thursday)\n- Timing 08:30 PM IST (11:00 AM EST)\n- Cost INR 2400 (~USD $30)\n\nLink to JOIN the BootCamp here:\nhttps://techtfq.graphy.com/courses/Python-Bootcamp-for-Beginners-64d0e0a2e4b067acf3a67a2b-64d0e0a2e4b067acf3a67a2b?buy=true\n\nOR go to https://techtfq.com/ and click on Courses.\n\nThanks,\nThoufiq (techTFQ)',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
   'tags': ['python',
    'python course',
    'python bootcamp',
    'python for beginners',
    'learn python',
    'python bootcamp for beginners',
    'python course for beginners',
    'python tutorial',
    'python tutorial for beginners',
    'python full course'],
   'published_date': '2023-08-20',
   'published_time': '08:17:01',
   'view_count': '5109',
   'like_count': '202',
   'favourite_count': '0',
   'comment_count': '32',
   'duration': '00:00:54',
   'thumbnail': 'https://i.ytimg.com/vi/PLN28d0PoFU/default.jpg',
   'caption_status': 'Not Available'},
  {'video_id': 'GxmrInUIMAE',
   'video_name': 'SQL Data Analytics Project (PART 3) | Data Analyst Portfolio Project',
   'video_description': 'This is the THIRD and FINAL part of the video series where I will build an Otodom Data Analysis project using SQL, Python, and Google Sheets.\nIn this Data Analyst Portfolio project, we will scrape the Otodom website data using the Bright Data tool and then load the data into the Snowflake database. In the Snowflake database, we shall analyze, clean, and transform data and finally build reports to answer some of the most common questions related to the property market in Poland. For a couple of the tasks involving the transformation of data, we shall use Python and Google Sheets.\n\nGet data from Bright Data using the below link:\nhttps://brdta.com/techtfq\n\nJOIN my Python Bootcamp:\nhttps://techtfq.graphy.com/courses/Python-Bootcamp-for-Beginners-64d0e0a2e4b067acf3a67a2b-64d0e0a2e4b067acf3a67a2b?buy=true\n\n\nThis data analysis project will be built as a 3 video series, this is the third part of the video series. \n\nPart 1 - Scrape data, Load data and Flatten data using SQL.\nPart 2 - Transform data using SQL, Python, and Google Sheets.\nPart 3 - Analyse, Clean and build reports using SQL.\n\nI am building this project using property listing data taken from the https://www.otodom.pl/ website using the Bright Data platform. However, a similar project can be built using any other dataset of your choice. \n\nTimestamp:\n0:00 Intro\n0:16 Overview of Project from Part 1\n0:44 Overview of Project from Part 2 \n1:23 Looking at the 3 tables created so far in the project\n2:16 Python Bootcamp announcement\n3:11 Build the final transform table\n15:39 Start building reports to solve problems related to the property market in Poland\n38:30 Conclusion\n\nDownload the scripts and sample dataset used in this video from my blog. \nThe link below: \nhttps://techtfq.com/blog/sql-data-analytics-project-data-analyst-portfolio-project-using-sql-python-google-sheets\n\nPlease do like and subscribe to the channel for more SQL, Python, and Data learning. Also would love to read your feedback in the comments below.\n\n\n\n🔴 My Recommended courses 👇\n\n✅Complete Data Analytics Bootcamp:\nhttps://codebasics.io/bootcamps/data-analytics-bootcamp-with-practical-job-assistance?refId=ujxkeg5e-n948-4cpg-fx9g-q0fvzczdyp\n\n✅ Learn Power BI: \nhttps://codebasics.io/courses/power-bi-data-analysis-with-end-to-end-project?refId=4b1e1886-3252-4bf1-86f4-7d603dab692f\n\n✅ Learn complete SQL: \nhttps://learnsql.com/?ref=thoufiqmohammed\n\n✅ Practice SQL Queries: \nhttps://www.stratascratch.com/?via=techTFQ\n\n\n\n🔴 WATCH MORE VIDEOS HERE 👇\n\n✅ SQL Tutorial - Basic concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HQQ_COgGb7kf_1H8UWUBxO\n\n✅ SQL Tutorial - Intermediate concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FD9XspliRM_HZM_jK7tkii\n\n✅ SQL Tutorial - Advance concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GbmgiW4TWVnxhjMFOIf0Q7\n\n✅ Practice Solving Basic SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9F66P3GFo5O6nJ4DfZNhVsp\n\n✅ Practice Solving Intermediate SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EIYmNXJ8ZtQ1bmLIpt0SpV\n\n✅ Practice Solving Complex SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9Fahr7taauUx5RnTfuGyL--\n\n✅ Data Analytics Career guidance:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FDsr995DjwCy9XNaIukb8P\n\n✅ SQL Course, SQL Training Platform Recommendations:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GqF1Q_zn8KnYvFgtEOh-2n\n\n✅ Python Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FePZXIo4jpsupqp3X0w2SW\n\n✅ Git and GitHub Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EI1MPlqqDpe3bgr8RJZE0b\n\n✅ Data Analytics Projects:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HwT_uStsDdJbuBOt_XD0ch\n\n\nTHANK YOU!\nThoufiq | techTFQ',
   'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
   'tags': ['sql project',
    'data analyst project',
    'data analysis project',
    'portfolio project',
    'sql portfolio project',
    'data analytics project',
    'project',
    'data analyst portfolio project',
    'python project',
    'google sheets project',
    'resume project'],
   'published_date': '2023-08-19',
   'published_time': '13:14:46',
   'view_count': '8653',
   'like_count': '296',
   'favourite_count': '0',
   'comment_count': '35',
   'duration': '00:39:28',
   'thumbnail': 'https://i.ytimg.com/vi/GxmrInUIMAE/default.jpg',

# Data store to MongoDB

In [40]:
y1 = channel(youtube, channel_id)
channel_name = y1['channel_name']

database = 'project_youtube'

data = final_data

In [42]:
# Connecting with MongoDB Driver - select Driver = python  &  version = 3.4 or later
gopi = pymongo.MongoClient("mongodb://gopiashokan:gopiroot@ac-0vdscni-shard-00-00.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-01.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-02.xdp3lkp.mongodb.net:27017/?ssl=true&replicaSet=atlas-11e4qv-shard-0&authSource=admin&retryWrites=true&w=majority")
    
# database name ---> enter manually ---> Eg: gopi['project_youtube]
db = gopi[database]

# collection name ---> access channel_name from channel def function ---> Eg: db['techTFQ']
col = db[channel_name]

# Single dictionary data insert to the collection in mongodb
col.insert_one(data)

print('Data successfully stored to MongoDB')

Data successfully stored to MongoDB

In [ ]:
# Now you can just change the channel id and call 'youtube_main(channel_id)' to get final_data
# after you can easily store the data to mongodb.
# repeat the same process ------> you will do 9 times for 9 different channels

# Data Migrate to SQL

In [38]:
# create sql tables - 4 tables for channel, playlist, video and comment

def create_tables():

    gopi = psycopg2.connect(host='localhost',
                            user='postgres',
                            password='root',
                            database='youtube')
    cursor = gopi.cursor()

    cursor.execute(f"""create table if not exists channel(
                                    channel_id 			varchar(255) primary key,
                                    channel_name		varchar(255),
                                    subscription_count	int,
                                    channel_views		int,
                                    channel_description	text,
                                    upload_id			varchar(255),
                                    country				varchar(255));""")

    cursor.execute(f"""create table if not exists playlist(
                                    playlist_id		varchar(255) primary key,
                                    playlist_name	varchar(255),
                                    channel_id		varchar(255),
                                    upload_id		varchar(255));""")

    cursor.execute(f"""create table if not exists video(
                                    video_id			varchar(255) primary key,
                                    video_name			varchar(255),
                                    video_description	text,
                                    upload_id			varchar(255),
                                    tags				text,
                                    published_date		date,
                                    published_time		time,
                                    view_count			int,
                                    like_count			int,
                                    favourite_count		int,
                                    comment_count		int,
                                    duration			time,
                                    thumbnail			varchar(255),
                                    caption_status		varchar(255));""")

    cursor.execute(f"""create table if not exists comment(
                                    comment_id				varchar(255) primary key,
                                    comment_text			text,
                                    comment_author			varchar(255),
                                    comment_published_date	date,
                                    comment_published_time	time,
                                    video_id				varchar(255));""")

    gopi.commit()

In [39]:
# sql tables are created only if not exists, else its skipped.

create_tables()

In [45]:
# list of collection names in mongodb

gopi = pymongo.MongoClient("mongodb://gopiashokan:gopiroot@ac-0vdscni-shard-00-00.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-01.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-02.xdp3lkp.mongodb.net:27017/?ssl=true&replicaSet=atlas-11e4qv-shard-0&authSource=admin&retryWrites=true&w=majority")
db = gopi['project_youtube']
col = db.list_collection_names()
col

['geohot',
 'Future Tech',
 'DESIGNER David Tech',
 'Alex The Analyst',
 'Ken Jee',
 'techTFQ',
 'Wisdom Kalvi',
 'Cosmo Coding',
 'GALLANT IAS',
 'Vj Siddhu Vlogs',
 'Gareth David Studio',
 'Lucknow Super Giants',
 'DATA SCIENCE LOVERS',
 'Logic First Tamil',
 'Thu Vu data analytics',
 'ZenClass from GUVI',
 'Data Science']

without def function

In [46]:
# extract only channel data from mongodb, after that convert dataframe using pandas and migrate to SQL database

# mongodb connection
gopi = pymongo.MongoClient("mongodb://gopiashokan:gopiroot@ac-0vdscni-shard-00-00.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-01.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-02.xdp3lkp.mongodb.net:27017/?ssl=true&replicaSet=atlas-11e4qv-shard-0&authSource=admin&retryWrites=true&w=majority")
db = gopi['project_youtube']
col = db['techTFQ']

# create empty list to store channel_data
data = []

# using looping condition ---> disable '_id' and only enable 'channel' to iterate to store in list 
for i in col.find({}, {'_id': 0, 'channel': 1}):
    data.append(i['channel'])

data

[{'channel_name': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'subscription_count': '243000',
  'channel_views': '12543236',
  'channel_description': 'Hi, I am Thoufiq! On this channel, I teach SQL, Python and Database concepts in the field of Data Analytics and Data Science in the most simplest manner possible. If this excites you then do consider subscribing.\n\nYou will also find videos covering interview questions and also videos where I provide career guidance in the field of Data Analytics and Data Science which should help you find your dream job.\n\nI aim to make techTFQ a go to YouTube channel for anyone learning SQL, Python and Databases in the field of Data Analytics and Data Science.\n\nThank you for begin here :)\n',
  'upload_id': 'UUnz-ZXXER4jOvuED5trXfEA',
  'country': 'MY'}]

In [47]:
# convert unstructured dictionary data to structured dataframe using pandas
df_channel = pd.DataFrame(data)
df_channel

,channel_name,channel_id,subscription_count,channel_views,channel_description,upload_id,country
0,techTFQ,UCnz-ZXXER4jOvuED5trXfEA,243000,12543236,"Hi, I am Thoufiq! On this channel, I teach SQL...",UUnz-ZXXER4jOvuED5trXfEA,MY

In [48]:
# reindex the column names as specific order and datatype conversion
df_channel = df_channel.reindex(columns=['channel_id', 'channel_name', 'subscription_count', 'channel_views',
                                         'channel_description', 'upload_id', 'country'])

df_channel['subscription_count'] = pd.to_numeric(df_channel['subscription_count'])
df_channel['channel_views'] = pd.to_numeric(df_channel['channel_views'])

df_channel

,channel_id,channel_name,subscription_count,channel_views,channel_description,upload_id,country
0,UCnz-ZXXER4jOvuED5trXfEA,techTFQ,243000,12543236,"Hi, I am Thoufiq! On this channel, I teach SQL...",UUnz-ZXXER4jOvuED5trXfEA,MY

with def function for all 4 channel, playlist, video and comment

In [51]:
# so everything in a separate def function - channel, playlist, video, comment

def channel(database, channel_name):

    gopi = pymongo.MongoClient("mongodb://gopiashokan:gopiroot@ac-0vdscni-shard-00-00.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-01.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-02.xdp3lkp.mongodb.net:27017/?ssl=true&replicaSet=atlas-11e4qv-shard-0&authSource=admin&retryWrites=true&w=majority")
    db = gopi[database]
    col = db[channel_name]

    data = []
    for i in col.find({}, {'_id': 0, 'channel': 1}):
        data.append(i['channel'])

    df = pd.DataFrame(data)

    df = df.reindex(columns=['channel_id', 'channel_name', 'subscription_count', 'channel_views',
                             'channel_description', 'upload_id', 'country'])
    
    df['subscription_count'] = pd.to_numeric(df['subscription_count'])
    df['channel_views'] = pd.to_numeric(df['channel_views'])
    return df

In [52]:
m1 = channel(database, channel_name)
m1

,channel_id,channel_name,subscription_count,channel_views,channel_description,upload_id,country
0,UCnz-ZXXER4jOvuED5trXfEA,techTFQ,243000,12543236,"Hi, I am Thoufiq! On this channel, I teach SQL...",UUnz-ZXXER4jOvuED5trXfEA,MY

In [53]:
def playlist(database, channel_name):

    gopi = pymongo.MongoClient("mongodb://gopiashokan:gopiroot@ac-0vdscni-shard-00-00.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-01.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-02.xdp3lkp.mongodb.net:27017/?ssl=true&replicaSet=atlas-11e4qv-shard-0&authSource=admin&retryWrites=true&w=majority")
    db = gopi[database]
    col = db[channel_name]

    data = []
    for i in col.find({}, {'_id': 0, 'playlist': 1}):     # disable the '_id' and enable playlist only 
        data.extend(i['playlist'])

    df = pd.DataFrame(data)
    
    df = df.reindex(columns=['playlist_id', 'playlist_name', 'channel_id', 'upload_id'])

    return df

In [54]:
m2 = playlist(database, channel_name)
m2.head(2)

,playlist_id,playlist_name,channel_id,upload_id
0,PLavw5C92dz9EEEtjLD7F9B7x7Jf5_KPTh,Podcast,UCnz-ZXXER4jOvuED5trXfEA,UUnz-ZXXER4jOvuED5trXfEA
1,PLavw5C92dz9EVsh5lAUfJRMRYMHXQyfmL,SQL Data Analytics Project (Otodom),UCnz-ZXXER4jOvuED5trXfEA,UUnz-ZXXER4jOvuED5trXfEA

In [55]:
def video(database, channel_name):

    gopi = pymongo.MongoClient("mongodb://gopiashokan:gopiroot@ac-0vdscni-shard-00-00.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-01.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-02.xdp3lkp.mongodb.net:27017/?ssl=true&replicaSet=atlas-11e4qv-shard-0&authSource=admin&retryWrites=true&w=majority")
    db = gopi[database]
    col = db[channel_name]

    data = []
    for i in col.find({}, {'_id': 0, 'video': 1}):
        data.extend(i['video'])

    df = pd.DataFrame(data)
    
    df = df.reindex(columns=['video_id', 'video_name', 'video_description', 'upload_id',
                             'tags', 'published_date', 'published_time', 'view_count',
                             'like_count', 'favourite_count', 'comment_count', 'duration',
                             'thumbnail', 'caption_status'])

    df['published_date'] = pd.to_datetime(df['published_date']).dt.date
    df['published_time'] = pd.to_datetime(df['published_time'], format='%H:%M:%S').dt.time
    df['duration'] = pd.to_datetime(df['duration'], format='%H:%M:%S').dt.time
    df['view_count'] = pd.to_numeric(df['view_count'])
    df['like_count'] = pd.to_numeric(df['like_count'])
    df['favourite_count'] = pd.to_numeric(df['favourite_count'])
    df['comment_count'] = pd.to_numeric(df['comment_count'])
    
    return df

In [57]:
m3 = video(database, channel_name)
m3.head(1)

,video_id,video_name,video_description,upload_id,tags,published_date,published_time,view_count,like_count,favourite_count,comment_count,duration,thumbnail,caption_status
0,nzJJP-uDIZc,Solving an SQL Interview Problem | Find Child ...,"In this video, we will solve an SQL Interview ...",UUnz-ZXXER4jOvuED5trXfEA,"[sql, sql query, sql queries, solving sql quer...",2023-10-04,13:30:12,17911,565,0,46,00:13:47,https://i.ytimg.com/vi/nzJJP-uDIZc/default.jpg,Not Available

In [67]:
def comment(database, channel_name):

    gopi = pymongo.MongoClient("mongodb://gopiashokan:gopiroot@ac-0vdscni-shard-00-00.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-01.xdp3lkp.mongodb.net:27017,ac-0vdscni-shard-00-02.xdp3lkp.mongodb.net:27017/?ssl=true&replicaSet=atlas-11e4qv-shard-0&authSource=admin&retryWrites=true&w=majority")
    db = gopi[database]
    col = db[channel_name]

    data = []
    for i in col.find({}, {'_id': 0, 'comment': 1}):
        data.extend(i['comment'][0])

    df = pd.DataFrame(data)

    df = df.reindex(columns=['comment_id', 'comment_text', 'comment_author',
                             'comment_published_date', 'comment_published_time', 'video_id'])
    
    df['comment_published_date'] = pd.to_datetime(df['comment_published_date']).dt.date
    df['comment_published_time'] = pd.to_datetime(df['comment_published_time'], format='%H:%M:%S').dt.time

    return df

In [68]:
m4 = comment(database, channel_name)
m4.head(2)

,comment_id,comment_text,comment_author,comment_published_date,comment_published_time,video_id
0,Ugz5Rd8nU9iTzeqsnbN4AaABAg,"OdinSchool Bootcamp link: <a href=""https://hub...",techTFQ,2023-10-05,20:20:42,nzJJP-uDIZc
1,Ugw2piZKnCOUXfsEvMR4AaABAg,May Allah always be by your side my brother. Y...,Aviral Ojha,2023-10-17,15:33:11,nzJJP-uDIZc

In [69]:
m1 = channel(database, channel_name)
m2 = playlist(database, channel_name)
m3 = video(database, channel_name)
m4 = comment(database, channel_name)

In [70]:
# from mongodb channel data ----> migrate to sql channel table 

gopi = psycopg2.connect(host='localhost',
                        user='postgres',
                        password='root',
                        database='youtube')
cursor = gopi.cursor()

cursor.executemany(f"""insert into channel(channel_id, channel_name, subscription_count,
                                           channel_views, channel_description, upload_id, country) 
                                           values(%s,%s,%s,%s,%s,%s,%s)""", m1.values.tolist())

gopi.commit()

print('Channel data successfully migrated to SQL database')

Channel data successfully migrated to SQL database

In [71]:
# from mongodb playlist data ----> migrate to sql playlist table 

gopi = psycopg2.connect(host='localhost',
                        user='postgres',
                        password='root',
                        database='youtube')
cursor = gopi.cursor()

cursor.executemany(f"""insert into playlist(playlist_id, playlist_name, channel_id, 
                                            upload_id) 
                                            values(%s,%s,%s,%s)""", m2.values.tolist())

gopi.commit()

print('Playlist data successfully migrated to SQL database')

Playlist data successfully migrated to SQL database

In [72]:
# from mongodb video data ----> migrate to sql video table 

gopi = psycopg2.connect(host='localhost',
                        user='postgres',
                        password='root',
                        database='youtube')
cursor = gopi.cursor()

cursor.executemany(f"""insert into video(video_id, video_name, video_description, 
                                        upload_id, tags, published_date, published_time, view_count, 
                                        like_count, favourite_count, comment_count, duration, thumbnail, 
                                        caption_status) 
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""",
                                        m3.values.tolist())

gopi.commit()

print('Video data successfully migrated to SQL database')

Video data successfully migrated to SQL database

In [73]:
# from mongodb comment data ----> migrate to sql comment table 

gopi = psycopg2.connect(host='localhost',
                        user='postgres',
                        password='root',
                        database='youtube')
cursor = gopi.cursor()

cursor.executemany(f"""insert into comment(comment_id, comment_text, comment_author, 
                                           comment_published_date, comment_published_time, video_id) 
                                           values(%s,%s,%s,%s,%s,%s)""", m4.values.tolist())

gopi.commit()

print('Comment data successfully migrated to SQL database')

Comment data successfully migrated to SQL database

In [76]:
# with def function for channek, playlist, video, comment

def mongodb_to_sql():

    m1 = channel(database, channel_name)
    m2 = playlist(database, channel_name)
    m3 = video(database, channel_name)
    m4 = comment(database, channel_name)

    gopi = psycopg2.connect(host='localhost',
                                        user='postgres',
                                        password='root',
                                        database='youtube')
    cursor = gopi.cursor()

    cursor.executemany(f"""insert into channel(channel_id, channel_name, subscription_count,
                                        channel_views, channel_description, upload_id, country) 
                                        values(%s,%s,%s,%s,%s,%s,%s)""", m1.values.tolist())

    cursor.executemany(f"""insert into playlist(playlist_id, playlist_name, channel_id, 
                                        upload_id) 
                                        values(%s,%s,%s,%s)""", m2.values.tolist())

    cursor.executemany(f"""insert into video(video_id, video_name, video_description, 
                                        upload_id, tags, published_date, published_time, view_count, 
                                        like_count, favourite_count, comment_count, duration, thumbnail, 
                                        caption_status) 
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""",
                                        m3.values.tolist())

    cursor.executemany(f"""insert into comment(comment_id, comment_text, comment_author, 
                                        comment_published_date, comment_published_time, video_id) 
                                        values(%s,%s,%s,%s,%s,%s)""", m4.values.tolist())

    gopi.commit()

In [77]:
mongodb_to_sql()
print('Data Successfully Migrated to SQL Database')

Data Successfully Migrated to SQL Database

In [ ]:
# repeat the same process (input based on user input) for all mongodb data migrated to sql database

# SQL Queries

Q1-What are the names of all the videos and their corresponding channels?

In [81]:
def q1_allvideoname_channelname():

    gopi_s = psycopg2.connect(host='localhost', 
                              user='postgres', 
                              password='root', 
                              database='youtube')
    
    cursor = gopi_s.cursor()

    # using Inner Join to join the tables
    cursor.execute(f'''select video.video_name, channel.channel_name
                        from video
                        inner join playlist on playlist.upload_id = video.upload_id
                        inner join channel on channel.channel_id = playlist.channel_id
                        group by video.video_id, channel.channel_id
                        order by channel.channel_name ASC''')
    
    s = cursor.fetchall()

    # add index for dataframe and set a column names
    i = [i for i in range(1, len(s) + 1)]
    data = pd.DataFrame(s, columns=['Video Names', 'Channel Names'], index=i)

    # add name for 'S.No'
    data = data.rename_axis('S.No')

    # index in center position of dataframe
    data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))

    return data

In [85]:
q1_allvideoname_channelname().tail(5)

,Video Names,Channel Names
S.No,,
2099,How to become a Full Stack Developer? | Zen Cl...,ZenClass from GUVI
2100,Naresh Babu - Analyst Programmer | GUVI | Zen...,ZenClass from GUVI
2101,Want to be the top pick in a sea of data scien...,ZenClass from GUVI
2102,Automobile Engineer to Full Stack Developer! H...,ZenClass from GUVI
2103,Prasanna Venkatesh - Full Stack Development -T...,ZenClass from GUVI

Q2-Which channels have the most number of videos, and how many videos do they have?

In [86]:
def q2_channelname_totalvideos():

    gopi_s = psycopg2.connect(host='localhost', 
                              user='postgres', 
                              password='root', 
                              database='youtube')
    cursor = gopi_s.cursor()

    cursor.execute(f'''select distinct channel.channel_name, count(distinct video.video_id) as total
                    from video
                    inner join playlist on playlist.upload_id = video.upload_id
                    inner join channel on channel.channel_id = playlist.channel_id
                    group by channel.channel_id
                    order by total DESC''')
    
    s = cursor.fetchall()

    i = [i for i in range(1, len(s) + 1)]
    data = pd.DataFrame(s, columns=['Channel Names', 'Total Videos'], index=i)

    data = data.rename_axis('S.No')
    data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))

    return data

In [87]:
q2_channelname_totalvideos()

                    Channel Names  Total Videos
S.No
    1           Logic First Tamil           363
    2         Gareth David Studio           359
    3          ZenClass from GUVI           288
    4                     Ken Jee           277
    5            Alex The Analyst           221
    6                Wisdom Kalvi           142
    7                 Future Tech           139
    8         DATA SCIENCE LOVERS           104
    9                     techTFQ            89
    10      Thu Vu data analytics            71
    11        DESIGNER David Tech            50

Q3-What are the top 10 most viewed videos and their respective channels?

In [88]:
def q3_mostviewvideos_channelname():

    gopi_s = psycopg2.connect(host='localhost', 
                              user='postgres', 
                              password='root', 
                              database='youtube')
    cursor = gopi_s.cursor()

    cursor.execute(f'''select distinct video.video_name, video.view_count, channel.channel_name
                        from video
                        inner join playlist on playlist.upload_id = video.upload_id
                        inner join channel on channel.channel_id = playlist.channel_id
                        order by video.view_count DESC
                        limit 10''')
    
    s = cursor.fetchall()

    i = [i for i in range(1, len(s) + 1)]
    data = pd.DataFrame(s, columns=['Video Names', 'Total Views', 'Channel Names'], index=i)

    data = data.rename_axis('S.No')
    data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))

    return data

In [89]:
q3_mostviewvideos_channelname()

,Video Names,Total Views,Channel Names
S.No,,,
1,The Complete Beginners Guide To Adobe Illustra...,3772103,Gareth David Studio
2,Adobe InDesign For Beginners - FREE Course - T...,2583062,Gareth David Studio
3,What is Graphic Design? Ep1/45 [Beginners Guid...,2056186,Gareth David Studio
4,Interface Introduction to Adobe Illustrator Ep...,1870124,Gareth David Studio
5,9 Latest Gadgets and Inventions You Can Buy Now,1771469,Future Tech
6,Amazing Gadgets And Inventions That are At Ano...,1636211,Future Tech
7,Java Full Course in Tamil (2023) | Basics | OO...,1583891,Logic First Tamil
8,How I Would Learn Data Science (If I Had to St...,1389431,Ken Jee
9,The Complete Beginners Guide to Adobe Photosho...,1358189,Gareth David Studio
10,10 Coolest Gadgets and Inventions That Will Bl...,1320754,Future Tech

Q4-How many comments were made on each video with their corresponding video names?

In [91]:
def q4_videonames_totalcomments():
        
        gopi_s = psycopg2.connect(host='localhost', 
                                  user='postgres', 
                                  password='root', 
                                  database='youtube')
        cursor = gopi_s.cursor()

        cursor.execute(f'''select video.video_name, video.comment_count, channel.channel_name
                        from video
                        inner join playlist on playlist.upload_id = video.upload_id
                        inner join channel on channel.channel_id = playlist.channel_id
                        group by video.video_id, channel.channel_name
                        order by video.comment_count DESC''')
        
        s = cursor.fetchall()

        i = [i for i in range(1, len(s) + 1)]
        data = pd.DataFrame(s, columns=['Video Names', 'Total Comments', 'Channel Names'], index=i)

        data = data.rename_axis('S.No')
        data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))

        return data

In [93]:
q4_videonames_totalcomments().head(5)

,Video Names,Total Comments,Channel Names
S.No,,,
1,How I Changed Careers to Become a Data Analyst...,3802,Alex The Analyst
2,Data Analyst Portfolio Project | SQL Data Expl...,2898,Alex The Analyst
3,How I Would Learn Data Science (If I Had to St...,1996,Ken Jee
4,The Complete Beginners Guide To Adobe Illustra...,1282,Gareth David Studio
5,Java Full Course in Tamil (2023) | Basics | OO...,1280,Logic First Tamil

Q5-Which videos have the highest number of likes with their corresponding channel names?

In [95]:
def q5_videonames_highestlikes_channelname():
        
        gopi_s = psycopg2.connect(host='localhost', 
                                  user='postgres', 
                                  password='root', 
                                  database='youtube')
        cursor = gopi_s.cursor()

        cursor.execute(f'''select distinct video.video_name, channel.channel_name, video.like_count
                        from video
                        inner join playlist on playlist.upload_id = video.upload_id
                        inner join channel on channel.channel_id = playlist.channel_id
                        where video.like_count = (select max(like_count) from video)''')
        
        s = cursor.fetchall()

        i = [i for i in range(1, len(s) + 1)]
        data = pd.DataFrame(s, columns=['Video Names', 'Channel Names', 'Most Likes'], index=i)

        data = data.reindex(columns=['Video Names', 'Most Likes', 'Channel Names'])
        data = data.rename_axis('S.No')
        data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))

        return data

In [96]:
q5_videonames_highestlikes_channelname()

,Video Names,Most Likes,Channel Names
S.No,,,
1,How I Would Learn Data Science (If I Had to St...,48999,Ken Jee

Q6-What is the total number of likes for each video with their corresponding video names?

In [98]:
def q6_videonames_totallikes_channelname():
        
        gopi_s = psycopg2.connect(host='localhost', 
                                  user='postgres', 
                                  password='root', 
                                  database='youtube')
        cursor = gopi_s.cursor()

        cursor.execute(f'''select distinct video.video_name, video.like_count, channel.channel_name
                        from video
                        inner join playlist on playlist.upload_id = video.upload_id
                        inner join channel on channel.channel_id = playlist.channel_id
                        group by video.video_id, channel.channel_id
                        order by video.like_count DESC''')
        
        s = cursor.fetchall()

        i = [i for i in range(1, len(s) + 1)]
        data = pd.DataFrame(s, columns=['Video Names', 'Total Likes', 'Channel Names'], index=i)

        data = data.rename_axis('S.No')
        data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))
        
        return data

In [101]:
q6_videonames_totallikes_channelname().head(5)

,Video Names,Total Likes,Channel Names
S.No,,,
1,How I Would Learn Data Science (If I Had to St...,48999,Ken Jee
2,What is Graphic Design? Ep1/45 [Beginners Guid...,43028,Gareth David Studio
3,The Complete Beginners Guide To Adobe Illustra...,35004,Gareth David Studio
4,Java Full Course in Tamil (2023) | Basics | OO...,33444,Logic First Tamil
5,Learn how to write SQL Queries(Practice Comple...,27436,techTFQ

Q7-What is the total number of views for each channel with their corresponding channel names?

In [102]:
def q7_channelnames_totalviews():
        
        gopi_s = psycopg2.connect(host='localhost', 
                                  user='postgres', 
                                  password='root', 
                                  database='youtube')
        cursor = gopi_s.cursor()

        cursor.execute(f'''select channel_name, channel_views from channel
                        order by channel_views DESC''')
        
        s = cursor.fetchall()

        i = [i for i in range(1, len(s) + 1)]
        data = pd.DataFrame(s, columns=['Channel Names', 'Total Views'], index=i)
        
        data = data.rename_axis('S.No')
        data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))

        return data

In [103]:
q7_channelnames_totalviews()

                    Channel Names  Total Views
S.No
    1         Gareth David Studio     48749222
    2            Alex The Analyst     20698262
    3                 Future Tech     16303406
    4                     techTFQ     10828469
    5           Logic First Tamil      8356338
    6                     Ken Jee      8200905
    7       Thu Vu data analytics      4749815
    8         DATA SCIENCE LOVERS       835866
    9          ZenClass from GUVI       578027
    10               Wisdom Kalvi        55791
    11        DESIGNER David Tech        11074

Q8-What are the names of all the channels that have published videos in the particular year?

In [104]:
def q8_channelnames_releasevideos(year):
        
        gopi_s = psycopg2.connect(host='localhost', 
                                  user='postgres', 
                                  password='root', 
                                  database='youtube')
        cursor = gopi_s.cursor()

        cursor.execute(f"""select distinct channel.channel_name, count(distinct video.video_id) as total
                           from video
                           inner join playlist on playlist.upload_id = video.upload_id
                           inner join channel on channel.channel_id = playlist.channel_id
                           where extract(year from video.published_date) = '{year}'
                           group by channel.channel_id
                           order by total DESC""")
        
        s = cursor.fetchall()

        i = [i for i in range(1, len(s) + 1)]
        data = pd.DataFrame(s, columns=['Channel Names', 'Published Videos'], index=i)

        data = data.rename_axis('S.No')
        data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))
        
        return data

In [107]:
q8_channelnames_releasevideos(2022)

                    Channel Names  Published Videos
S.No
    1          ZenClass from GUVI               181
    2            Alex The Analyst                61
    3           Logic First Tamil                48
    4                Wisdom Kalvi                46
    5                     techTFQ                38
    6         Gareth David Studio                36
    7       Thu Vu data analytics                34
    8         DATA SCIENCE LOVERS                33
    9                     Ken Jee                25
    10                Future Tech                22

Q9-What is the average duration of all videos in each channel with corresponding channel names?

In [108]:
def q9_channelnames_avgvideoduration():
        
        gopi_s = psycopg2.connect(host='localhost', 
                                  user='postgres', 
                                  password='root', 
                                  database='youtube')
        cursor = gopi_s.cursor()

        cursor.execute(f'''select channel.channel_name, substring(cast(avg(video.duration) as varchar), 1, 8) as average
                        from video
                        inner join playlist on playlist.upload_id = video.upload_id
                        inner join channel on channel.channel_id = playlist.channel_id
                        group by channel.channel_id
                        order by average DESC''')
        
        s = cursor.fetchall()

        i = [i for i in range(1, len(s) + 1)]
        data = pd.DataFrame(s, columns=['Channel Names', 'Average Video Duration'], index=i)
        
        data = data.rename_axis('S.No')
        data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))

        return data

In [109]:
q9_channelnames_avgvideoduration()

                    Channel Names Average Video Duration
S.No
    1                Wisdom Kalvi               01:51:11
    2           Logic First Tamil               00:24:38
    3                     techTFQ               00:24:05
    4            Alex The Analyst               00:22:51
    5         DATA SCIENCE LOVERS               00:16:01
    6         Gareth David Studio               00:14:53
    7                     Ken Jee               00:14:09
    8          ZenClass from GUVI               00:13:08
    9       Thu Vu data analytics               00:13:03
    10        DESIGNER David Tech               00:08:46
    11                Future Tech               00:07:08

Q10-Which videos have the highest number of comments with their corresponding channel names?

In [110]:
def q10_videonames_channelnames_mostcomments():
        
        gopi_s = psycopg2.connect(host='localhost', 
                                  user='postgres', 
                                  password='root', 
                                  database='youtube')
        cursor = gopi_s.cursor()

        cursor.execute(f'''select video.video_name, video.comment_count, channel.channel_name
                        from video
                        inner join playlist on playlist.upload_id = video.upload_id
                        inner join channel on channel.channel_id = playlist.channel_id
                        group by video.video_id, channel.channel_name
                        order by video.comment_count DESC
                        limit 1''')
        
        s = cursor.fetchall()

        i = [i for i in range(1, len(s) + 1)]
        data = pd.DataFrame(s, columns=['Video Names', 'Channel Names', 'Total Comments'], index=i)

        data = data.rename_axis('S.No')
        data.index = data.index.map(lambda x: '{:^{}}'.format(x, 10))

        return data

In [111]:
q10_videonames_channelnames_mostcomments()

,Video Names,Channel Names,Total Comments
S.No,,,
1,How I Changed Careers to Become a Data Analyst...,3802,Alex The Analyst